:root {
  --color-primary: #432eab;
  --color-text: #262c40;
  --color-text-light: #8189a3;
  --color-border: #d4defe;
  --color-background: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-background);
}

body::-webkit-scrollbar {
  display: none;
}

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 74rem;
  margin: 0 auto;
}

/* =========== SEARCH =========== */

.search-container {
  position: sticky;
  top: 0;
  display: flex;
  margin-top: 4rem;
}

.search-bar {
  border: 1px solid var(--color-border);
  padding: 0.75rem 1.5rem;
  margin-bottom: 2.4rem;
  font-size: 1.2rem;
  border-radius: 24px;
  color: var(--color-text);
  flex-grow: 1;
  position: relative;
}

.button {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  right: 32px;
  top: 12px;
}

.icon {
  width: 1.4rem;
  height: 1.4rem;
}

/* =========== USER CARD LIST =========== */

.cardlist-container {
  display: flex;
  justify-content: center;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

/* =========== USER CARD  =========== */

.user-card {
  width: 22.315rem;
  height: 19.625rem;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1.6rem;
  text-align: left;
  cursor: pointer;

  margin: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-card h2 {
  margin-bottom: 1rem;
}

.user-info-item {
  display: grid;
  grid-template-columns: 2rem 1fr;
  align-items: center;
}

.user-info-item > span {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* align-self: center; */
}

.user-info-item > p {
  font-size: 0.8rem;
  line-height: 1.4rem;
  color: var(--color-text-light);
  padding-left: 1rem;
}

/* =========== MODAL  =========== */

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal {
  width: 468px;
  height: 500px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 16px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: var(--color-text);
}
